body{
    font-family: Helvetica;
    background-color:rgb(24, 26, 24);
}
.topbtn{
    padding: 10px 20px;
    background-color: rgb(22, 24, 24);
    color: #fff;
    background-position: center;
    transition: 0.25s linear;
    height:50px;
    width:200px;
}
.topbtn:hover{
    background-color: rgb(255, 255, 255);
    background-size: 300px;
    border: 2px solid #ffffff;
    color: rgb(24,26,24);
}
.btn{
    padding: 10px 20px;
    background-color: rgb(24,26,24);
    border: 2px solid #ffffff;
    color: #fff;
    background-position: center;
    transition: 0.25s linear;
    height:70px;
    width:250px;
    margin-top:1%;
    display:block
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    background-size: 300px;
    border: 2px solid #ffffff;
    color: rgb(24,26,24);

}